

@media (max-width: 768px){
    .img-menu{height:20rem;
        width:15rem;}
        
    }
    
@media (min-width: 768px){
    .img-menu{height:36rem;width:27rem;}
    .card2{padding:5px}
    .card{margin:0px}
}

.card-body{font-size:1.5rem;} 

.card-body{background-color:#343a40;}

.card{background-color:black;
    padding:5px;}

.row{padding:5px;}    

.card-text{color:white;}

.card-title{color:white;
font-size:36px;}

.container-fluid{background-color:grey;
    padding-top:15px !important;}

.img-obg{margin-bottom:10px;
border:5px solid black;}

.img-menu{border:8px solid black;}

