.card-body{background-color: #94928d;}

@media (max-width: 768px){
    .img-menu{height:20rem;
        width:15rem;}
    }
    
@media (min-width: 768px){
    .img-menu{height:36rem;width:27rem;}
}
        
.card-body{background-color:#343a40;}

.card{background-color:black;
    padding:5px;}

.row{padding:5px;}    

.card-text{color:white;}

.card-title{color:white;
font-size:36px;}

.container-fluid{background-color:grey;}
